---
import { getCollection, render } from 'astro:content';
import { Image } from 'astro:assets';

import Layout from '@layouts/Layout.astro';
import PostMetaData from '@components/PostMetaData.astro';
import { createSlug } from '@utils/utils';
import EmailLink from '@components/EmailLink.astro';

export async function getStaticPaths() {
  let posts = await getCollection('posts');

  if (import.meta.env.PROD) {
    posts = posts.filter((draft) => !draft.data.draft);
  }

  // Sort posts by publication date
  let sortedPosts = posts.sort(
    (a, b) =>
      new Date(b.data.pubDate).valueOf() - new Date(a.data.pubDate).valueOf()
  );

  return sortedPosts.map((post, index) => ({
    params: { slug: createSlug(post.data.title) },
    props: {
      post,
      prevPost: sortedPosts[index + 1] || null,
      nextPost: sortedPosts[index - 1] || null,
    },
  }));
}

const { post, prevPost, nextPost } = Astro.props;
const { Content } = await render(post);
---

<Layout title={post.data.title} postdata={post.data}>
  <article
    id="blogcontent"
    class="bg-stone-50 shadow-lg mb-16 prose-h2:mb-4 prose-h3:mb-4 p-8 border border-stone-200 rounded-2xl max-w-3xl prose-p:text-lg/8 prose prose-stone"
  >
    <header class="mb-4">
      <h1 class="text-center text-balance">
        {post.data.title}
      </h1>
      <div class="text-stone-600 text-center">
        <PostMetaData post={post} />
      </div>
    </header>
    <div id="content" class="px-16">
      <Content />
    </div>
    <footer class="flex mt-12 p-4">
      <div class="flex-1">
        {
          prevPost && (
            <a
              href={`/blog/${createSlug(prevPost.data.title)}/`}
              class="hover:underline"
            >
              &larr; {prevPost.data.title}
            </a>
          )
        }
      </div>
      <div class="flex-1 text-right">
        {
          nextPost && (
            <a
              href={`/blog/${createSlug(nextPost.data.title)}/`}
              class="hover:underline"
            >
              {nextPost.data.title} &rarr;
            </a>
          )
        }
      </div>
    </footer>
  </article>
</Layout>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    document.querySelectorAll('pre').forEach((pre) => {
      const button = document.createElement('button');
      button.innerText = 'Copy';
      button.className = 'copy-button';
      pre.appendChild(button);

      button.addEventListener('click', () => {
        const codeElem = pre.querySelector('code');
        if (codeElem) {
          const code = codeElem.innerText;
          navigator.clipboard.writeText(code).then(() => {
            button.innerText = 'Copied!';
            setTimeout(() => (button.innerText = 'Copy'), 2000);
          });
        }
      });
    });
  });
</script>

<!--

Maybe I add this at some point in the future, but for now I want to keep it simple

<style>
    :global(img) {
      border: 1px solid var(--color-zinc-200);
      border-radius: 0.5rem;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      transition:
        transform 0.3s ease,
        box-shadow 0.3s ease;
    }

    :global(img:hover) {
      transform: scale(1.05);
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    }
  </style>
-->
