---
import { createSlug, formatDate } from '@utils/utils';

const { posts } = Astro.props;
---

<ul class="mt-4 pl-4 list-none">
  {
    posts.map((post) => {
      const firstTag = post.data.tags && post.data.tags.length ? post.data.tags[0].trim() : null;
      return (
        <li class="relative mb-2">
          <div class="flex items-baseline gap-3">
            {firstTag && <span class="flex-shrink-0 text-stone-500 text-sm">{firstTag}</span>}
            <h2 class="flex-1 m-0 truncate">
              <span class="-left-6 absolute font-medium text-sky-500 transition-all duration-200 blog-arrow">»</span>{' '}
              <a
                href={`/blog/${createSlug(post.data.title)}/`}
                class="text-sky-600 hover:text-sky-700 underline hover:underline">
                {post.data.title}
              </a>
              {post.data?.draft && (
                <span class="bg-yellow-200 ml-2 px-2 py-0.5 border border-yellow-300 rounded text-yellow-800 text-xs align-middle">
                  DRAFT
                </span>
              )}
            </h2>
            <time class="flex-shrink-0 text-stone-600 text-sm" datetime={post.data.pubDate.toISOString()}>
              {formatDate(post.data.pubDate.toString())}
            </time>
          </div>
        </li>
      );
    })
  }
</ul>
