---
const { title, user, domain } = Astro.props;

const subject = `Blogpost: ${title}`;
const href = `mailto:${user}@${domain}?subject=${encodeURIComponent(subject)}`;
---

<div class="flex justify-center items-center gap-2 mt-10">
  <a
    href={href}
    class="hover:bg-sky-600 shadow-md hover:shadow-lg px-4 py-2 rounded font-medium text-stone-100 transition cursor-pointer g-sky-700"
    aria-label={`Send email to ${user}@${domain}`}>
    <span>📧 Antworte via E-Mail</span>
  </a>
</div>
