---
const { title, user, domain } = Astro.props;
---

<div class="flex justify-center items-center gap-2 mt-10">
  <button
    id="mailLink"
    type="button"
    data-u={user}
    data-d={domain}
    data-t={title}
    class="bg-sky-700 hover:bg-sky-600 shadow-md hover:shadow-lg px-4 py-2 rounded font-medium text-stone-100 transition cursor-pointer">
    📧 Antworte via E-Mail
  </button>
</div>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const mailLink = document.getElementById('mailLink');
    if (mailLink) {
      mailLink.addEventListener('click', () => {
        const userEncoded = mailLink.dataset.u;
        const domainEncoded = mailLink.dataset.d;
        const titleEncoded = mailLink.dataset.t;
        const subject = encodeURIComponent('Blogpost: ' + titleEncoded);
        const mailto = `mailto:${userEncoded}@${domainEncoded}?subject=${subject}`;
        window.location.href = mailto;
      });
    }
  });
</script>
